{% extends 'base.html' %}

{% block title %}
Data Kehadiran
{% endblock title %}

{% block header %}
<h1 class="mt-4">Kehadiran</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Laporan</li>
</ol>
{% endblock header %}

{% block cardheader %}
<i class="fa-solid fa-door-open"></i>
Data Kehadiran
{% endblock cardheader %}

{% block cardtable %}
<table id="datatablesSimple">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Tanggal</th>
            <th>Waktu</th>>
        </tr>
    </thead>
    <tbody>
            {% for kehadiran in kehadiran %}
            <tr>
                <td>{{ kehadiran.mahasiswa}}</td>
                <td>{{ kehadiran.tanggal}}</td>
                <td>{{ kehadiran.waktu }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock cardtable %}